music-schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- viskas vardu sritis -->    
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.last.fm/user/matas-liorentas"
    elementFormDefault="qualified" >

    <!-- ŠAKNIS -->
    <xs:element name="User" type="UserType" minOccurs="1" maxOccurs="1"/>
    <xs:complexType name="UserType">
        <xs:attribute name="Name" type="NameType" />
        <xs:attribute name="Url" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- NameType apribot xs:string -->
    <xs:simpleType name="NameType">
        <xs: restriction base="xs:string">
            <xs:length value="120" />
        </xs: restriction>
    </xs:simpleType>

    <!-- MUSIC LOGS -->
    <xs:element name="MusicLogs" type="MusicLogsType"/>
    <xs:complexType name="MusicLogsType">
        <xs:element name="Entry" type="EntryType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:complexType>

    <!-- ENTRY TYPES -->
    <xs:complexType name="EntryType">
        <xs:sequence>
            <xs:element name="Artist" type="xs:string"/>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Album" type="xs:string"/>
            <xs:element name="Lenght" type="xs:integer"/>
            <xs:element name="Album" type="xs:string"/>
            <xs:element name="ListenedOn" type="ListenedOnType"/>
            <xs:element name="ReleaseYear" type="ReleaseYearType"/>
            <xs:element name="Tags" type="TagsType"/>
        </xs:sequence>
        <!-- choice -->        
        <xs:choice>
            <xs:element name="FileInfo" type="FileInfoType"/>  
            <xs:element name="FileSize" type="FileInfoBaseType"/>                    
        </xs:choice>
        <xs:attribute name="Url" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Sud4tingas tipas paprastu tureiniu su mano i6vestu prapletimu-->
    <xs:complexType name="FileInfoBaseType">
        <xs:attribute name="sizeUnits" type="xs:string"/>
        <xs:attribute name="size" type="xs:decimal"/>        
    </xs:complexType>

    <xs:complexType name="FileInfoType">
        <xs:simpleContent>
            <xs:extension base="FileInfoBaseType">
                <xs:attribute name="bitrate" type="xs:integer"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Sud4tingas tipas sudetingu turiniu su mano i6vestu apribojimu -->
    <xs:complexType name="TagBaseType">
        <xs:element name="Tag" type="xs:string" minOccurs="0"/>        
    </xs:complexType>

    <xs:complexType name="TagType">
        <xs:restriction base="TagBaseType">
            <xs:complexContent>
                <xs:element name="Tag" minOccurs="1">
            </xs:complexContent>
        </xs:restriction>
    </xs:complexType>

    <!-- Sud4tingas tipas paprastu turiniu su mano i6vestu apribojimu -->
    <!-- Sud4tingas tipas sudetingu turiniu su mano i6vestu prapletimu-->
    <xs:simpleType name="TimeType">
        <xs:restriction base="NameType">
            <xs:length value="5" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimeList">
        <xs:list itemType="TimeType" />
    </xs:simpleType>
    <xs:complexType name="ListenedOnBaseType">
        <xs:element name="DayOfListening" type="xs:date"/>
    </xs:complexType>
    <xs:complexType name="ListenedOnListType">
        <xs:extension base="ListenedOnBaseType">
            <xs:complexContent>
                <xs:element name="TimeOfListening" type="TimeList">
            </xs:complexContent>
        </xs:extension>
    </xs:complexType>

    <!-- sudetingas tipas su misriu turiniu -->
    <xs:element name="LyricsType">
    <xs:complexType mixed="true" >
        <xs:all>
            <xs:element name="Artist" type="xs:string"/>
            <xs:element name="Title" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    </xs:element>

    <!-- keyref to unique arba key -->

</xs:schema> 

          






