music-schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="User" type="UserType" minOccurs="1" maxOccurs="1"/>
    <xs:element name="MusicLogs" type="MusicLogsType">

    <xs:complexType name="UserType">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Url" type="xs:string" use="required"/>        
    </xs:complexType>
    
    <xs:complexType name="MusicLogsType">
        <xs:list type="EntryType"/>
    </xs:complexType>


    <xs:complexType name="UžsakymoTipas">
        <xs:sequence>
            <xs:element name="pristatyti" type="AdresoTipas" />
            <xs:element name="apmoka" type="AdresoTipas" />
            <xs:element name="pastaba" type="xs:string" minOccurs="0" />
            <xs:element name="prekiųSąrašas" type="..." /> 
        </xs:sequence>
        <xs:attribute name="data" type="xs:date" />
    </xs:complexType>
        <xs:complexType name="AdresoTipas">
        <xs:sequence>
            <xs:element name="vardas" type="xs:string" />
            <xs:element name="gatvė" type="xs:string" />
            <xs:element name="miestas" type="MiestoTipas" />
            <xs:element name="indeksas" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="šalis" type="xs:string" fixed="LT" />
    </xs:complexType>
    <xs:simpleType name="MiestoTipas">
        <xs:restriction base="xs:string">

        
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema> 

 
  
   
    






